<div class="container">
    <div class="header">
        Windfarm Tracker 2023
    </div>
    <h1>Task 3 - Angular Components</h1>
    <h2>Components are the main building block for Angular applications. Each component consists of:</h2>
    <ul>
        <li>An HTML template that declares what renders on the page</li>
        <li>A TypeScript class that defines behavior</li>
        <li>A CSS selector that defines how the component is used in a template</li>
        <li>Optionally, CSS styles applied to the template</li>
    </ul>
    
    <h2>Please arrange the app.component.html file, so that components are properly displayed:</h2>
    <ol>
        <li>First we would like to show <b>WindfarmList</b> and then <b>WindTurbineList</b> </li>
        <li><b>WindTurbineList</b> component needs to be refined, it needs to display values received from the backend, not a fixed ones.</li>
    </ol>
</div>