<div class="card">
    <div class="progress-spinner" *ngIf="!turbines?.length && selectedWindfarmId; else TurbinesAvailable">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>



<ng-template #TurbinesAvailable>
    <p-table [value]="turbines" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>power</th>
                <th>workingTime</th>
                <th>status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-turbine>
            <tr>
                <td>turbine id</td>
                <td>turbine energy produced</td>
                <td>turbine working time</td>
                <td>
                    <p-tag *ngIf="turbine.status == 'online'" severity="success" value="Online"></p-tag>
                    <p-tag *ngIf="turbine.status == 'offline'" severity="danger" value="Offline"></p-tag>
                    <p-tag *ngIf="turbine.status == 'unknown'" severity="info" value="Unknown"></p-tag>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>
