<div class="card">
    <div class="progress-spinner" *ngIf="!turbines?.length && selectedWindfarmId; else TurbinesAvailable">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>



<ng-template #TurbinesAvailable>
    <p-table [value]="turbines" [tableStyle]="{ 'min-width': '50rem' }">
        <!-- We're using a PrimeNg table component here.
                For reference check:
                https://primeng.org/table
        -->
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>power</th>
                <th>workingTime</th>
                <th>status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-turbine> 
            <tr>
                <td>id</td>
                <td>energy_produced</td>
                <td>working_time</td>
                <td>
                    <!-- Use <p-tag> component to display status information
                    For reference check:
                    https://primeng.org/tag
                    
                    Remember: In our model we can have one of the three values: 
                    - 'online' 
                    - 'offline'
                    - 'unknown'

                    For colors you can use:
                    success if status == online
                    danger if status == offline
                    info if status == unknown
                    
                    Hint: Use *ngIf directive
                    https://angular.io/api/common/NgIf
                    -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>